
        body {}

        .main-window {
            padding: 10px;
        }

        .main-window p {
            text-align: center;
        }

        .row {
            display: flex;
        }

        /* Create two equal columns that floats next to each other */

        .column {
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .description {
            color: red;
        }

        svg {
            width: 200px;
        }

        .fruitlist {
            display: flex;
            flex-flow: row wrap;
            width: 400px;
        }

/*         .cart {

        }
 */
        .itemDetails {
            margin: 10px;
        }
        
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

        @media (max-width: 600px) {
        .column {
            width: 100%;
        }
        }