/* SCSS Variables */
.main-window {
  padding: 10px;
}

.main-window h1 {
  text-align: center;
}

.main-window p {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.main-window span {
  color: red;
}

.row {
  display: flex;
}

/* Create two equal columns that floats next to each other */
.column {
  width: 55%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fruitlist {
  display: flex;
  flex-flow: row wrap;
  width: 330px;
}

.fruit {
  text-transform: uppercase;
  font-weight: bold;
}

.fruit span {
  float: right;
}

.fruit #btn-rem svg {
  width: 22px;
  height: 22px;
}

#btn-rem {
	display: inline-block;
	/* padding: 10px 14px; */
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}

#btn-rem:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

.inputqty {
  width: 20%;
}

.btn-minus svg {
  width: 14px;
  height: 14px;
}

.btn-plus svg {
  width: 14px;
  height: 14px;
}

#btn-plus {
	display: inline-block;
	/* padding: 10px 14px; */
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
#btn-plus:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

#btn-minus {
	display: inline-block;
	/* padding: 10px 14px; */
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
#btn-minus:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

.description {
  color: red;
}

svg {
  width: 160px;
  height: 110px;
}

.itemDetails {
  margin: 10px;
  width: 230px;
}

.price {
  text-align: right;
}

.total {
  margin: 10px;
  float: left;
  /* border-top-style: double;
   */width: 100%;
  font-weight: bold;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
 
  .row {
    display: block;/* 
    min-block-size: 50%; */
	}
	
	.column {
		width: 55%;
		padding-left: 25%;
		padding-right: 25%;
	}

   .fruitlist {
    width: 100%;
  }

	.itemDetails {
		margin-left: -25%;
		margin-right: -25%;
	}
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=styles.css.map */